* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #000000;
    --main-color: #04c1fa;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo {
    color: var(--text-color);
    font-size: 35px;
    letter-spacing: 1px;
}
span {
    color: var(--main-color);
}
.navlist {
    display: flex;
}
.navlist a {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover {
    color: var(--main-color);
}
.navlist a.active {
    color: var(--main-color);
}
.navlistv {
    display: flex;
}
.navlistv a {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlistv a:hover {
    color: var(--second-color);
}
#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section{
    padding: 160px 15% 120px;
}
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 10px;
    color: var(--second-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}
.btn:hover {
    transform: scale(0.9);
}

header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}


.main-text {
    text-align: center;
}
.main-text p {
    color: var(--text-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.videos-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box {
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.capa img {
    height: auto;
    width: 300px;
    border-radius: 10px;
}
.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.video-pilar {
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}
.video-pilar:hover {
    letter-spacing: 1px;
    background: #ffffff1a;
    color: var(--main-color);
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.descricao{
    margin-top: 55px;

}

/*estrelas para avaliação*/
.rating{
    position: relative;
    float: left;
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
    

  }
  
.rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
.rating:not(:checked) > label:before {
    content: '★';
  }
  
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
.rating > input:checked ~ label {
    color: #ffa723;
  }
  






@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
    section {
        padding: 110px 3% 60px;
    }
}
@media (max-width: 1100px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
}